---
---

<footer>
  <div>
    <a href="#top" class="shadow">Back to Top</a>
  </div>
</footer>
<style>
  a {
    min-width: 8rem;
    aspect-ratio: 2/0.7;
    font-size: 1.75rem;
    font-weight: 600;
    text-decoration: none;
    background-color: #efefefff;
    padding: 0.5rem 1rem;

    :visited {
      color: inherit;
    }
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem 0;
  }
</style>
