---
---

<footer>
  <div>
    <a href="https://github.com/Brian-Pob">
      <img src="/img/minimal_pfp_bw.png" alt="brian poblete logo" />
    </a>
    <p>
      Site by <a href="https://github.com/Brian-Pob"> Brian Poblete</a>. Built with
      <a href="https://astro.build">Astro</a>.
    </p>
  </div>
</footer>
<style>
  footer {
    min-width: 100%;
    min-height: 6rem;
    display: grid;
    place-items: center;
    font-size: 1rem;
    font-weight: 700;
    background-color: rgb(52, 49, 49);
    color: white;
    padding: 1rem;
  }

  footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  footer a {
    color: #eabcfb;
  }

  footer a:visited {
    color: #e7a4ff;
  }

  img {
    width: 5rem;
    max-width: 5rem;
    aspect-ratio: 1/1;
    margin: 0 1rem;
  }
</style>
