---
// Not sure what the difference is between img and Image in astro.
---

<section>
  <h1>Hi, I'm Mason Hagan</h1>
  <p>Computer Science Student</p>
  <p>Florida State University</p>
  <div class="hero__links--main">
    <a href="#resume" class="">Resume</a>
    <a href="#projects" class="">Projects</a>
  </div>
  <div class="hero__links--secondary">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/mason-hagan/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      </li>
      <li><a href="https://github.com/masonhgn" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      <li><a href="https://leetcode.com/masonhagan" target="_blank" rel="noopener noreferrer">LeetCode</a></li>
      <li><a href="mailto:mh20gx@fsu.edu" target="_blank" rel="noopener noreferrer">Email</a></li>
    </ul>
  </div>
  <div>
    <img src="/img/profile.png" alt="Mason Hagan profile photo" />
  </div>
</section>
<style></style>
