---
---

<section>
  <div id="projects">
    <h2>Projects</h2>
    <div>
      <img src="https://masonhagan.com/assets/projects/p3/pic.png" alt="temp alt" />
      <h3>Ivy Math</h3>
      <ul>
        <li>Github</li>
      </ul>
      <hr />
      <p>
        Django based web application that allows users to submit and view math tutorial videos, separated into four
        different categories of mathematics. Users can title and describe the videos, as well as give a caption that
        will go under the video in the detail view of each post. I learned the most about Django and MVC architecture
        from this project by far, and I believe that I got some good practice with styling elements in CSS, and properly
        structuring HTML divs. The project was live on the domain ivymath.net for about a year, and was hosted on
        Linode.
      </p>
    </div>
    <div>
      <img src="https://masonhagan.com/assets/projects/p2/pic.png" alt="temp alt" />
      <h3>Portfolio</h3>
      <ul>
        <li>Github</li>
      </ul>
      <hr />
      <p>
        Django based web application that allows users to submit and view math tutorial videos, separated into four
        different categories of mathematics. Users can title and describe the videos, as well as give a caption that
        will go under the video in the detail view of each post. I learned the most about Django and MVC architecture
        from this project by far, and I believe that I got some good practice with styling elements in CSS, and properly
        structuring HTML divs. The project was live on the domain ivymath.net for about a year, and was hosted on
        Linode.
      </p>
    </div>
    <div>
      <img src="https://masonhagan.com/assets/projects/p1/pic.png" alt="temp alt" />
      <h3>Portfolio</h3>
      <ul>
        <li>Github</li>
      </ul>
      <hr />
      <p>
        Django based web application that allows users to submit and view math tutorial videos, separated into four
        different categories of mathematics. Users can title and describe the videos, as well as give a caption that
        will go under the video in the detail view of each post. I learned the most about Django and MVC architecture
        from this project by far, and I believe that I got some good practice with styling elements in CSS, and properly
        structuring HTML divs. The project was live on the domain ivymath.net for about a year, and was hosted on
        Linode.
      </p>
    </div>
  </div>
</section>
<style></style>
