---
---

<section>
  <div class="resume">
    <h2>Mason Hagan</h2>
    <hr />
    <p>Tallahasee, FL | (239) 672 2414 | mh20gx@my.fsu.edu | linkedin.com/in/masonhagan</p>
    <p></p>
    <h3>EDUCATION</h3>
    <p>Florida State University</p>
    <p>Bachelor of Arts, Computer Science Class of 2023</p>
    <p>Minor in communications</p>
    <p>
      Related coursework: Data Structures/Algorithms II, Computer Architecture, Intro to UNIX, Discrete Math I, Calculus
      II, Intro to Java, Advanced Python
    </p>

    <h3>CLUBS & ORGANIZATIONS</h3>
    <h4>Association for Computing Machinery (ACM FSU)</h4>
    <p>- ICPC Spring 2022 Programming Contest</p>
    <p>- ACM at FSU Programming Club</p>
    <h4>Codeducation FSU</h4>
    <p>- Monthly programming language/framework workshops</p>

    <h3>SKILLS & ABILITIES</h3>
    <p>- Languages/Frameworks - Java, C++, Python, Django, HTML, CSS</p>
    <p>- SCRUM/Agile framework, Github/Azure</p>
    <p>- Data structures/Algorithms, Object Oriented Programming design principles</p>

    <h3>WORK EXPERIENCE</h3>
    <p>PropLogix Summer Software Engineer Intern - Summer 2022</p>
    <p>
      - Worked on the RPA automation team designing, testing and deploying projects to automate various important tasks.
      Became familiar with Git and Azure devops. Contributed to the efficiency and speed of important company-wide
      processes by programming, testing and combining several sets of workflows to run seamlessly with UIPath
      Orchestrator.
    </p>
    <p>
      - Learned the essentials of the SCRUM/Agile methodologies, improved project management skills and strengthened
      skills in C#.
    </p>
  </div>
</section>
<style></style>
