---
---

<section>
  <div id="resume" class="shadow">
    <h2>Mason Hagan</h2>
    <hr />
    <p>Tallahasee, FL | (239) 672 2414 | mh20gx@my.fsu.edu | linkedin.com/in/masonhagan</p>
    <p></p>

    <hr class="invisible" />
    <h3>EDUCATION</h3>
    <h4>Florida State University</h4>
    <ul>
      <li>
        <p>Bachelor of Arts, Computer Science Class of 2023</p>
      </li>
      <li>
        <p>Minor in communications</p>
      </li>
    </ul>
    <h4>Related Coursework</h4>
    <ul>
      <li>
        <p>
          Data Structures/Algorithms II, Computer Architecture, Intro to UNIX, Discrete Math I, Calculus II, Intro to
          Java, Advanced Python
        </p>
      </li>
    </ul>

    <hr class="invisible" />

    <h3>CLUBS & ORGANIZATIONS</h3>
    <h4>Association for Computing Machinery (ACM FSU)</h4>
    <ul>
      <li>
        <p>ICPC Spring 2022 Programming Contest</p>
      </li>
      <li>
        <p>ACM at FSU Programming Club</p>
      </li>
    </ul>
    <h4>Codeducation FSU</h4>
    <ul>
      <li>
        <p>Monthly programming language/framework workshops</p>
      </li>
    </ul>
    <hr class="invisible" />

    <h3>SKILLS & ABILITIES</h3>
    <ul>
      <li>
        <p>Languages/Frameworks - Java, C++, Python, Django, HTML, CSS</p>
      </li>
      <li>
        <p>SCRUM/Agile framework, Github/Azure</p>
      </li>
      <li>
        <p>Data structures/Algorithms, Object Oriented Programming design principles</p>
      </li>
    </ul>
    <hr class="invisible" />

    <h3>WORK EXPERIENCE</h3>
    <ul>
      <li>
        <p>PropLogix Summer Software Engineer Intern - Summer 2022</p>
        <ul>
          <li>
            <p>
              Worked on the RPA automation team designing, testing and deploying projects to automate various important
              tasks. Became familiar with Git and Azure devops. Contributed to the efficiency and speed of important
              company-wide processes by programming, testing and combining several sets of workflows to run seamlessly
              with UIPath Orchestrator.
            </p>
          </li>
          <li>
            <p>
              Learned the essentials of the SCRUM/Agile methodologies, improved project management skills and
              strengthened skills in C#.
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>FSU Computer Science Tutor - Fall 2021</p>
        <ul>
          <li>
            <p>
              Tutored students in introductory computer science courses, including Data Structures and Algorithms,
              Computer Architecture, and Intro to UNIX.
            </p>
          </li>
          <li>
            <p>Helped students understand the material and improve their problem solving skills.</p>
          </li>
        </ul>
      </li>
      <li>
        <p>FSU Computer Science Tutor - Spring 2021</p>
        <ul>
          <li>
            <p>
              Tutored students in introductory computer science courses, including Data Structures and Algorithms,
              Computer Architecture, and Intro to UNIX.
            </p>
          </li>
          <li>
            <p>Helped students understand the material and improve their problem solving skills.</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<style>
  #resume {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 1rem;
    max-width: 900px;
    padding: 2rem 3rem;
  }
  #resume h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }
  #resume h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }

  #resume h4 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
  }
  #resume hr {
    border: 0;
    border-bottom: 1px solid #000;
    margin: 0.5rem 0;
  }

  #resume hr.invisible {
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 0.5rem 0;
  }

  #resume p {
    margin: 0;
  }

  #resume li {
    margin: 0.5rem 0;
  }
</style>
